###> confirado default ###
# mac
.DS_Store

# ide
/.settings/
/.buildpath
/.project
/nbproject/
.idea

# ubutu things
/ubuntu*.log
###< confirado default ###

###> symfony/framework-bundle ###
/.env.docker
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/web/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/web/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> apto default ignores ###
# composer
/composer

# npm
.npm

# angular
/.angular

# src
/src/*
!/src/Apto/

# config
/config/parameters.yaml
/config/parameters-request-form.yaml

# apps build
/apps-build/tmp/*
!/apps-build/tmp/.gitkeep
/apps-build/parameters/*
!/apps-build/parameters/live.ts
!/apps-build/parameters/staging.ts

# web
/web/.htaccess
/web/.htpasswd
/web/php.ini
/web/public/media/*
!/web/public/media/.gitkeep
/web/public/thumbs/*
!/web/public/thumbs/.gitkeep
/web/public/cache/*
!/web/public/cache/.gitkeep
/web/public/dist/*/*/*/local*/*

# import
/import/*
!/import/.gitkeep

# release
/bin/release/tmp/*
!/bin/release/tmp/*.gitkeep

###< apto default ignores ###


###> dev migration ###
/oldbundles/*
###< dev migration ###

###> client deprecated ###
/_client-deprecated_/node_modules/
/_client-deprecated_/src-tmp/*
/_client-deprecated_/_only_needed_for_versions_composer.lock

/_client-deprecated_/client/config/*
!/_client-deprecated_/client/config/apto.js
!/_client-deprecated_/client/config/custom.example.js
!/_client-deprecated_/client/config/staging.js
!/_client-deprecated_/client/config/live.js
/_client-deprecated_/client/tmp/*
!/_client-deprecated_/client/tmp/.gitkeep
###< client deprecated ###
