@use '@angular/material' as mat;
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$apto-green: (
    50: #e8f5e9,
    100: #c8e6c9,
    200: #a5d6a7,
    300: #81c784,
    400: #66bb6a,
    500: #4caf50,
    600: #43a047,
    700: #388e3c,
    800: #2e7d32,
    900: #1b5e20,
    A100: #b9f6ca,
    A200: #69f0ae,
    A400: #00e676,
    A700: #00c853,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$apto-blue: (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #14548c,
    600: #1e88e5,
    700: #1976d2,
    800: #072540,
    900: #0d47a1,
    A100: #82b1ff,
    A200: #14548c,
    A400: #2979ff,
    A700: #2962ff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$apto-primary: mat.define-palette($apto-green);
$apto-accent: mat.define-palette($apto-blue);
$apto-warn: mat.define-palette(mat.$red-palette);

$apto-theme: mat.define-light-theme((
    color: (
        primary: $apto-primary,
        accent: $apto-accent,
        warn: $apto-warn
    )
));

@include mat.all-component-themes($apto-theme);

.mat-step-header.cdk-program-focused {
    background-color: transparent;
}

.mat-simple-snackbar-action {
    color: #4caf50;
}
